<form method="POST" action="/author/authorlist" >

    <label name="name">creator</label>
    <input type="text" name="name" />
    
    <label for="works">Works Created</label>
    <input type="date" name="works" />
    
    <label for="mainegenre">Main Genres Published</label>
    <input type="text" name="maingenre" />
    
    <label for="popularanime">AUthors Most Popular Work</label>
    <input type="text" name="popularanime" />
    
    <label for="firstDate">When the Creator first made a anime</label>
    <input type="date" name="firstDate" />
    
    <label for="popularchar">Creators most popular Character</label>
    <input type="text" name="popularchar" />
    
    <label for="recent">Creators most recent work</label>
    <input type="text" name="recent" />
    
    />

  

    <input type="submit" value="submit" />
</form>


