<form method="POST" action="/" >
    <label name="name">Anime</label>
    <input type="text" name="name" />
    
    <label for="priority">priority</label>
    <input type="date" name="created" />
    
    <label for="status">status</label>
    <input type="text" name="genre" />
    
    <label for="createdat">date</label>
    <input type="date" name="type" />
    
    <label for="createdat">date</label>
    <input type="date" name="StartDate" />
    
    <label for="createdat">date</label>
    <input type="date" name="mainChracter" />
    
    <label for="createdat">date</label>
    <input type="date" name="EndDate" />
    
    <label for="createdat">date</label>
    <input type="date" name="creator" />

   name: String,
    created: Date,
    genre: String,
    type: String,
    StartDate:Date,
    mainCharacter:String,
    EndDate:Date,
    creator:String

    <input type="submit" value="submit" />
</form>


