<form method="POST" action="/anime" >
    <label name="name">Anime</label>
    <input type="text" name="name" />
    
    <label for="priority">Date Anime was created</label>
    <input type="date" name="created" />
    
    <label for="status">genre</label>
    <input type="text" name="genre" />
    
    <label for="createdat">type</label>
    <input type="text" name="type" />
    
    <label for="createdat">StartDate</label>
    <input type="date" name="StartDate" />
    
    <label for="createdat">mainCharacter</label>
    <input type="text" name="mainChracter" />
    
    <label for="createdat">EndDate</label>
    <input type="date" name="EndDate" />
    
    <label for="createdat">creator</label>
    <input type="text" name="creator" />

  

    <input type="submit" value="submit" />
</form>


